/* Custom style login/register */
.py-8 {
    padding-top: 8rem;
}

::-ms-reveal {
    display: none;
}

.pwd_input_icon {
    position: relative;
}

.eye-icon {
    cursor:pointer; /* 鼠标样式 */
    font-size: 20px;
    color: var(--bs-border-color);
    position: absolute;
    right: 0.5rem;
    top: 50%;
    z-index: 10;
    transform: translate(-50%, -50%);
}
/* 鼠标悬浮时样式 */
.eye-icon:hover {
    color: black;
}
   